<!DOCTYPE html>
<html lang="en">

<head>
 <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Create a Map</title>


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/createmap.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

</head>
<body>

  <%- include('partials/_header') %>
  <main>
    <div id="main-box">
    <div id="map-box">
      <div class="map-class" id="map-container" data-lon=<%= map.longitude %>
        data-lat=<%= map.latitude %>
        style="width: 800px; height: 600px">
      </div>
    </div>
          <div class="pin-element create-pin-maps">
            <form class="form-class" action="/edit_map/<%= map.id %>" method="POST">
              <h4>Edit a Map </h4>
              <label for="pinTitle" class="form-label">Edit Map Title:</label>
              <input name="title" for="title" type="text" class="form-control" id="pin-title" placeholder="Edit marker title" value="<%= map.title %>">
              <div class="form-element">
                <label for="pinDescription" class="form-label">Edit Map Description:</label>
                <input name="description" for="description" type="text" class="form-control" id="pin-description" placeholder="Edit description of your Marker..." value="<%= map.description %>"></input>
              </div>
              <div class="form-element">
                <label for="pinPicture" class="form-label">Edit Map Picture:</label>
                <input name="img_url" for="img_url" type="text" class="form-control" id="pin-img" placeholder="Enter Image URL" value="<%= map.img_url %>">

                <div>
                  <label for="latitude" class="form-label">Longitude:</label>
                  <input name="latitude" for="latitude" type="text" class="form-control" id="latitude" placeholder="Latitude" value="<%= map.latitude %>"></input>
                </div>

                <div>
                  <label for="longitude" class="form-label">Latitude:</label>
                  <input name="longitude" for="longitude" type="text" class="form-control" id="longitude" placeholder="Longitude" value="<%= map.longitude %>"></input>
                </div>

                <br>

                <button type="submit" class="btn btn-primary">Edit Map</button>
              </div>
            </div>
            </div>
          </form>


  </main>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi0UNccMZtRgqrzVxdyFxtulpy_amoMGY&callback=initMap">
  </script>

<script>
  $(document).ready(function() {
    function initMap(mapLat,mapLon) {
    const map = new google.maps.Map(document.getElementById("map-container"), {
    center: { lat:mapLat, lng:mapLon },
    zoom: 10,
  });

  const contentString =
    `<img src="<%= map.img_url  %>" style="height: 16em; width:16em;" />`
    + `<p><%= map.title %></p>`;


  const infowindow = new google.maps.InfoWindow({
    content: contentString,
    ariaLabel: "Uluru",
  });


    const marker = new google.maps.Marker({
    position: { lat:mapLat, lng:mapLon },
    map,
    title: "Uluru (Ayers Rock)",
  });
  marker.addListener("click", () => {
    infowindow.open({
      anchor: marker,
      map,
    });
  });
    }

    const map = $("#map-container")

      const mapLat = map.attr("data-lon")
      const mapLon = map.attr("data-lat")
      initMap(Number(mapLat), Number(mapLon))

  });
    </script>
</body>
</html>

